

form {
    color: aliceblue;

    width: 35%;
    text-align: center;
    padding-bottom: 15%;
    padding-top: 5%;
   margin-left: 10%;
    filter: barn(5px);
}

form label, legend{
    display: block;
    font-size: 25px;
    margin: 0 auto 30px;
    text-align: center;
    padding-top: 15px;

}

fieldset label{
    margin: 5px;
}

.input-padron {
    display: block;
    margin: 0 auto 10px;
    padding: 10px 25px;
    width: 30%;
}

.checkbox {
    margin: 10px 0px;
}

#select{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

#enviarformulario {
    margin: 30px auto 0;

    width: 40%;
    padding: 25px 0px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #68188d;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    text-align: center;

    cursor: pointer;
}

#enviarformulario:hover {

    background: #c406ce;
    transform: scale(1.15);

}