/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #6d6175;
}

#Titulo{
   display: flex;}


header, #header {
    background-color: #010712;
    color: white;
    padding: 2.5%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#logo {
    max-width:200px;
    margin: 0 auto;
}

h1 {font-size: 55px;
    margin: 0 5px;

}
#Links{
    margin: 0 auto;

}

#Links ul {
    list-style-type: none;
    display: flex;
}



#Links ul li {
    margin-right: 20px;
}

#Links a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

#Links :hover {
    color: #b126f8;
}

.imgMain{
width: 100%;
    max-height: 700px;
}

footer {
    background-color: #000235;
    color: white;
    text-align: center;
    padding: 10px;
}
#imgFooter{
    max-width: 300px;
}